body {
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 20px;
  color: #000;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}
body.disable-scroll {
  overflow: hidden;
}
