.btn-box > *:not(:last-child) {
  margin-right: 35px;
}

.btn-box {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .btn-box > *:not(:last-child) {
    margin-right: 25px;
  }
}
