.card {
  display: flex;
  flex-basis: 100%;
  flex-shrink: 1;
  max-width: 900px;
}
.card:not(:last-child) {
  margin-bottom: 40px;
}
.card > *:not(:last-child) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card .info {
  flex-basis: 45%;
}
.card .info > * {
  text-align: left;
  margin: 0;
}
.card .info .desc {
  line-height: 27.5px;
}
.card .link {
  margin-left: auto;
}

.card .img {
  height: 142px;
  width: 214px;
  margin-right: 25px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  .card {
    flex-direction: column;
    align-items: center;
    flex-basis: 40%;
    padding-bottom: 30px;
  }
  .card:not(:last-child) {
    margin-bottom: 35px;
    border-bottom: 1px solid #aaaaaa;
  }
  .card > * {
    flex-basis: 60%;
    flex-grow: 0;
    align-items: center;
  }
  .card .img {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .card .link {
    margin-left: 0;
    margin-top: 20px;
  }
}
