.description-box {
  display: flex;
  justify-content: space-between;
}

.description-box > .info {
  flex-basis: 40%;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-box .info * {
  text-align: left;
}

/* .description-box > *:last-child {
  text-align: right;
} */

.description-box .info .title,
.description-box .info .desc {
  margin-bottom: 20px;
}
