.link {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  display: inline-block;
}

.link.btn-shape {
  height: 48px;
  width: 159px;
  background-color: #000;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  /* line-height: 48px; */
}
.link.btn-shape.white {
  background-color: #fff;
  color: #000;
}

.link .link-arrow {
  /* margin-top: 11px;
  margin-bottom: 11px; */
  margin-left: 10px;
  height: 18px;
  width: 23px;
}

.link.d-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .link {
    font-size: 13px;
  }

  .link.btn-shape {
    height: 38px;
    width: 130px;
  }
}

@media screen and (max-width: 480px) {
  .link {
    font-size: 14px;
  }

  .link.btn-shape {
    height: 48px;
    width: 159px;
  }
  .link .link-arrow {
    margin-left: 5px;
    height: 12px;
    width: 17px;
  }
}
