.nav {
  display: flex;
  align-items: center;
}
.nav .list {
  display: flex;
  align-items: center;
}

.nav .list .item:not(:last-child) {
  margin-right: 60px;
}

@media screen and (max-width: 768px) {
  .nav .list .item:not(:last-child) {
    margin-right: 30px;
  }
}
