.introduction-section {
  display: flex;
  justify-content: space-between;
}

.introduction-section > * {
  flex-shrink: 1;
  flex-grow: 0;
}

.introduction-section .main-block {
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.introduction-section .img-box {
  width: 261px;
}
.introduction-section .img-box .img {
  width: 100%;
}
.introduction-section .img-box .img:not(:last-child) {
  margin-bottom: 25px;
}

@media screen and (max-width: 480px) {
  .introduction-section {
    flex-direction: column;
  }
  .introduction-section .main-block {
    order: 3;
    flex-basis: auto;
    margin-top: 45px;
    padding: 0 10px;
  }
  .introduction-section .img-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
  }
  .introduction-section .img-box:first-child {
    margin-bottom: 20px;
  }
  .introduction-section .img-box .img {
    width: 45%;
  }
  .introduction-section .img-box .img:not(:last-child) {
    margin-bottom: 0;
  }
}
